body{
    background-color: #e1f2d0;
}

.card{
    height: 25.5rem;
}

@media(max-width:769px){
    .card{margin: 0px auto;}
}

footer{
    color: gainsboro;
}

nav{
    margin-left: 3rem;
    margin-right: 3rem;
    border: .1rem solid white;
    border-radius: 1rem;
    background-color: white;
}

nav img{
    height: 3rem;
    width: 3rem;
}

#navbtn{
    border: .1rem solid black;
    border-radius: 1rem;
    background-color: black;
    color: white;
    transition: transform 250ms, opacity 400ms;
}

#navbtn:hover {
    transform: scale(1.2);
}
