body{
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    background-color: #e1f1d0;
}

h1{
    text-align: center;
}

form{
    align-items: center;
    margin: 0 auto;
    width: 500px;
    border:5px solid black ;
    border-radius: 5%;
    text-align: center;
    background-color: #171915;
    color: white;
}

label{
    padding: 5px;
    margin: 5px;
    color: white;
}

textarea{
    width: 50%;
    height: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

input{
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.select{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

span{
    border-bottom: 3px solid orangered;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 250ms, opacity 400ms;
}

button:hover{
    transform: scale(1.2);
}